VBNetWCFDemoClient/Connected Services/ClinicServiceReference/VBNetWCFDemo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/VBNetWCFDemo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VBNetWCFDemo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfClinic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Clinic" nillable="true" type="tns:Clinic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClinic" nillable="true" type="tns:ArrayOfClinic" />
  <xs:complexType name="Clinic">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Clinic" nillable="true" type="tns:Clinic" />
</xs:schema>